@import '../../assets/scss/palette';


.navigation {
    &--search {
        background: $primary-light;
        min-height: 3rem;
        line-height: 3;
        padding: 16px 0 0 20px;

        .mat-form-field {
            width: 180px;
            padding: 0 20px;
            font-size: 13px;
        }
        /deep/ .mat-form-field-outline {
            color: $white;
        }
        /deep/ .mat-form-field-label {
            color: $white;
        }
        .mat-icon {
            color: $white;
            height: 1.75rem;
        }
    }
}
.playlist {
    &__tab {

        .mat-nav-list {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        a.mat-list-item {
            flex: 1;
            overflow: hidden;

            &:hover {
                background: $background;
            }
        }
        .mat-list {
            display: none;
            @media only screen and (min-width: 731px) {
                display: flex;
            }
        }
        .mat-list-base {            
            button {
                color: $grey;
            }
        }
        .actions {
            display: flex;
            color: $white;

            @media only screen and (min-width: 731px) {
                display: none;
            }
        }
        /deep/ .mat-list-text {
            h3 {
                color: $primary-light;
                text-align: left;
            }
            p {
                color: $white;
                text-align: left;
            }
        }
    }
    
}
