<div class="loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<ng-template [ngIf]="!isLoadingResults">
  <h2>{{ "Watch later.Title" | translate }}</h2>
  <p></p>
  <h3>Add movie</h3>
  <button aria-hidden="true" mat-icon-button class="btn-add" color="primary"  [routerLink]="['/movies', 'upcoming']" routerLinkActive="active" (click)="closeSidenav(); resetPagination()">
      <mat-icon>visibility</mat-icon>
  </button>
  <mat-tab-group class="playlist__tab">
    <mat-tab label="{{ 'Watch later.To watch' | translate }}">
      <div *ngIf="moviesToWatch.length > 0; else noData">
        <mat-nav-list *ngFor="let movie of moviesToWatch">
          <a mat-list-item [routerLink]="['/movie', movie.movieId]">
            <div
              matListAvatar
              class="icon-container"
              [ngStyle]="{
                'background-image':
                  'url(' +
                  'https://image.tmdb.org/t/p/original' +
                  movie.poster_path +
                  ')'
              }"
            >
              <mat-icon *ngIf="!movie.poster_path" class="icon-movie"
                >movie</mat-icon
              >
            </div>
            <h3 matLine>{{ movie.original_title }}</h3>
            <p matLine>{{ movie.release_date | date }}</p>
          </a>
          <mat-action-list>
            <button mat-icon-button (click)="shareDialog(movie)">
              <mat-icon>share</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteMovie(movie.movieId)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button (click)="watchedMovie(movie.movieId, true)">
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-action-list>
          <div class="actions">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="shareDialog(movie)">
                <mat-icon>share</mat-icon>
                <span>{{ "Btn-share" | translate }}</span>
              </button>
              <button mat-menu-item (click)="deleteMovie(movie.movieId)">
                <mat-icon>delete</mat-icon>
                <span>{{ "Btn-delete" | translate }}</span>
              </button>
              <button mat-menu-item (click)="watchedMovie(movie.movieId, true)">
                <mat-icon>visibility</mat-icon>
                <span>{{ "Watch later.Watched?" | translate }}</span>
              </button>
            </mat-menu>
          </div>
        </mat-nav-list>
      </div>
      <ng-template #noData>
        <h3>
          {{ "Watch later.No movies" | translate }}
          <mat-icon>sentiment_very_dissatisfied</mat-icon>
        </h3>
      </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'Watch later.Watched' | translate }}">
      <div *ngIf="moviesWatched.length > 0; else noData">
        <mat-nav-list *ngFor="let movie of moviesWatched">
          <a mat-list-item [routerLink]="['/movie', movie.movieId]">
            <div
              matListAvatar
              class="icon-container"
              [ngStyle]="{
                'background-image':
                  'url(' +
                  'https://image.tmdb.org/t/p/original' +
                  movie.poster_path +
                  ')'
              }"
            >
              <mat-icon *ngIf="!movie.poster_path" class="icon-movie"
                >movie</mat-icon
              >
            </div>
            <h3 matLine>{{ movie.original_title }}</h3>
            <p matLine>{{ movie.release_date | date }}</p>
          </a>
          <mat-action-list>
            <button mat-icon-button (click)="shareDialog(movie)">
              <mat-icon>share</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteMovie(movie.movieId)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button (click)="watchedMovie(movie.movieId, false)">
              <mat-icon>visibility_off</mat-icon>
            </button>
          </mat-action-list>
          <div class="actions">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="shareDialog(movie)">
                <mat-icon>share</mat-icon>
                <span>{{ "Btn-share" | translate }}</span>
              </button>
              <button mat-menu-item (click)="deleteMovie(movie.movieId)">
                <mat-icon>delete</mat-icon>
                <span>{{ "Btn-delete" | translate }}</span>
              </button>
              <button
                mat-menu-item
                (click)="watchedMovie(movie.movieId, false)"
              >
                <mat-icon>visibility_off</mat-icon>
                <span>{{ "Watch later.Not Watched" | translate }}</span>
              </button>
            </mat-menu>
          </div>
        </mat-nav-list>
      </div>
      <ng-template #nodata>
        <h3>
          {{ "Watch later.No movies" | translate }}
          <mat-icon>sentiment_very_dissatisfied</mat-icon>
        </h3>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ng-template>
